

/* Mobile header section
======================== */

.mobile-header-menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    background: orangered;
    border-bottom: 2px solid #e74002;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.bargerMenu i{
    font-size: 26px;
}
.mobile-header-logo img{
    width: 160px;
}
.right-mobile-menu {

}
.right-mobile-menu i{
    font-size: 26px;
}
